.contactus{
    padding: 50px 9%;

    .contactus-head{
        //  background-color: gray;
        // border: 2px solid gray;
         text-align: center;
         padding: 10px 0px;
         border-radius: 20px;
         box-shadow: -1px 1px 8px -2px rgba(0,0,0,0.75);
         -webkit-box-shadow: -1px 1px 8px -2px rgba(0,0,0,0.75);
         -moz-box-shadow: -1px 1px 8px -2px rgba(0,0,0,0.75);

         h3{
            color: gray;
         }

         .icons{
            display: flex;
            // background-color: aqua;
            width: 60%;
            margin: 20px auto;
            justify-content: space-around;
            
            .icons-one{
                // background-color: aqua;
                padding: 10px;
                cursor: pointer;

                &:hover{
                    background-color: gray;
                    border-radius: 20px;
                }
            }
             
         }

         .message-form{
            width: 60%;
            // background-color: antiquewhite;
            margin: 30px auto;
            border-radius: 20px;
            display: flex;
            // border: 2px solid gray;
            padding: 30px;
            box-shadow: -1px 1px 8px -2px rgba(0,0,0,0.75);
            -webkit-box-shadow: -1px 1px 8px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 1px 8px -2px rgba(0,0,0,0.75);

            .message-form-left{
                flex: 1;
                // background-color: azure;

                label{
                    font-size: 18px;
                    cursor: pointer;
                }

                .input{
                    padding: 15px;
                    width: 80%;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    border-radius: 10px;

                    &:active{
                        background-color: transparent;
                    }
                }

                .input1{                   
                    display: flex;
                    align-items: center;
                    margin: 20px auto;
                    width: 80%;
                    border: 2px solid gray;
                    border-radius: 20px;

                    .person{                
                        transform: scale(0.8);
                        left: 10%;
                    }
                }

                
            }

            .message-form-right{
                flex: 1;
                // background-color: blanchedalmond;

                label{
                    cursor: pointer;
                     
                }

                textarea{
                    background-color: transparent;
                    border: 2px solid gray;
                    margin-top: 20px;
                }
            }
         }
    }
}