.button-div{
    // background-color: wheat;
    text-align: center;
    margin-top: 20px;

    .button{
        padding: 10px 10px;
        background-color: #ff7a00;
        color: white;
        border: none;
        cursor: pointer;
    }
}